In [3]:
import pandas as pd
df1 = pd.read_csv('movies.csv')
df2 = pd.read_csv('people.csv')
df3 = pd.read_csv('stars.csv')

df1.rename(columns = {'id':'movie_id'}, inplace = True)
df2.rename(columns = {'id':'person_id'}, inplace = True)

df = df3.merge(df1, on='movie_id', how='left').merge(df2, on='person_id', how='left')

df = df.drop(['birth', 'person_id', 'movie_id'], axis = 1)
df = df.sort_index(axis=1)
df.to_csv('small.csv', index=False)

In [17]:
df.head()

          name               title  year
0  Kevin Bacon      A Few Good Men  1992
1  Kevin Bacon           Apollo 13  1995
2   Tom Cruise      A Few Good Men  1992
3   Tom Cruise            Rain Man  1988
4   Cary Elwes  The Princess Bride  1987

In [12]:


# Find the shortest path between two actors using depth first search

def dfs(data, start, end, path=None):
    
    if path is None:
        path = [start]
    if start == end:
        return path
    for actor in data[start]:
        
        if actor not in path:
            new_path = dfs(data, actor, end, path + [actor])
            if new_path is not None:
                return new_path
    return None


def bfs(start, end, data):
    visited = set()
    queue = Queue()
    queue.put((start, 0))
    while not queue.empty():
        actor, degree = queue.get()
        if actor == end:
            return degree
        visited.add(actor)
        for neighbor in data[actor]:
            if neighbor not in visited:
                queue.put((neighbor, degree + 1))
    return None

In [16]:
import csv
from queue import Queue

# Load the data from the CSV file into a dictionary
def load_data(filename):
    data = {}
    with open(filename, 'r') as file:
        reader = csv.reader(file)
        for row in reader:
            actor = row[0]
            movie = row[1]
            if actor not in data:
                data[actor] = set()
            data[actor].add(movie)
            if movie not in data:
                data[movie] = set()
            data[movie].add(actor)
    return data

# Load the data from the CSV file
data = load_data('small.csv')

# Find the shortest path between Kevin Bacon and Tom Hanks
path = dfs(data, 'Robin Wright', 'Bill Paxton')

# Print the shortest path
if path is None:
    print("No path found")
else:
    print(path)
    print(" -> ".join(path))
    print(f"Degree of Separation->{len(path)-1}")

4